ai2thor==2.1.0
torch==1.13.0
torchvision==0.14.0
tensorboardX
tensorboard
numpy
pandas
opencv-python
networkx
h5py
tqdm
vocab
revtok
Pillow
matplotlib
termcolor
scikit-fmm
scikit-image
jupyter
notebook
imgviz
Werkzeug
Flask